<!DOCTYPE html>
<html ng-app="desktopApp">
    <head>
        <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="../node_modules/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css">
        <link rel="stylesheet" href="../node_modules/ui-select/dist/select.min.css">
        <link rel="stylesheet" href="css/main.css">

        <meta charset="UTF-8">
    </head>
    <body>
        <div class="title-bar">
            <span class="app-ctrl"></span>
            <span class="app-name">{{title}}</span>
            <a href="" onclick="ipcRenderer.send('config');false" class="title-icon app-conf"></a>
            <span class="separator"></span>
            <a href="" onclick="ipcRenderer.send('minimize');false" class="title-icon app-min"></a>
            <a href="" onclick="ipcRenderer.send('close');false" class="title-icon app-close"></a>
        </div>
        <ui-view></ui-view>
        <script src="js/angular-app.js"></script>
    </body>
</html>
