<form class="loginForm" ng-submit="login()">
    <div class="title">
        {{ title || 'LOGIN_TITLE' | translate}}
    </div>
    <div ng-show="autoLogin">
        {{ 'AUTOLOGIN_IN_PROGRESS' | translate}}
    </div>
    <div ng-hide="autoLogin">
        <div class="form-group">
            <input type="text" ng-model="username" name="username" placeholder="{{'LOGIN_USERNAME' | translate}}" class="form-control" required="" ng-disabled="!requireCredentials">
        </div>
        <div class="form-group" ng-show="requireCredentials">
            <input type="password" ng-model="password" name="password" placeholder="{{'LOGIN_PASSWORD' | translate}}" class="form-control">
        </div>
        <div class="form-group" ng-show="requirePhoneNumber">
            <input type="text" ng-model="phoneNumber"name="phoneNumber" placeholder="{{'LOGIN_PHONENUMBER' | translate}}" class="form-control">
        </div>
        <div class="checkbox" ng-show="requireCredentials">
            <input type="checkbox" id="credentials" ng-model="persistCredentials">
            <label for="credentials">
                {{'LOGIN_REMEMBERME' | translate}}
            </label>
        </div>
        <br>
        <div class="form-group text-center">
            <button class="btn btn-primary"  type="submit" id="loginbutton">
                {{'LOGIN_ACTION' | translate}}
            </button>
        </div>
    </div>
    <div class="alert alert-danger" ng-show="error">
        <p class="text-error">
            {{'AUTHERROR_' + error.error.toUpperCase() | translate}}
        </p>
    </div>
    <div class="retry-auto-login" ng-show="retryAutoLogin">
        {{ 'AUTOLOGIN_RETRY' | translate:translateData }}
        <div>
            <a href="" ng-click="forceAutoLogin()" translate="AUTOLOGIN_RETRY_NOW"></a>
        </div>
    </div>
</form>
<div id="footer">
    <span class="pull-right">{{showVersion()}}</span>
</div>
