@()

<div class="show-grid">
    <div class="no-result" ng-if="showSearch && searchResult.length == 0" translate="NO_RESULT"></div>
    <table class="table" id="directoryresult" ng-show="showSearch">
        <tbody>
            <tr class="text-center" ng-repeat="contact in searchResult"
                ng-mouseover="contact.hover=true" ng-mouseleave="contact.hover=false">
                @contactdata()
            </tr>
        </tbody>
    </table>

    <div class="no-result" ng-if="!showSearch && favorites.length == 0" translate="NO_FAVORITES"></div>
    <table class="table" id="favoris" ng-hide="showSearch">
        <tbody>
        <tr class="text-center" ng-repeat="contact in favorites"
            ng-mouseover="contact.hover=true" ng-mouseleave="contact.hover=false">
            @contactdata()
        </tr>
        </tbody>
    </table>
</div>
