@()(implicit request: Request[_], i18nMessages: Messages)

<div class="modal-header">
    <h3 class="modal-title">
        @i18nMessages("fatalError.title")
    </h3>
</div>
<div class="modal-body">
    {{ errorMessage | translate }}
</div>
<div class="modal-footer">
    <button class="btn btn-danger" ng-click="close()">@i18nMessages("fatalError.logout")</button>
</div>
