@()

<script type="text/ng-template" id="forwardDialog.html">
    <div class="modal-header forward-header">
        <img class="title-icon" src="@routes.Assets.versioned("images/ucassistant/popup_configure_call.svg")" />
    </div>
    <div class="modal-body">
        <form class="form-horizontal" role="form" name="dndForm" novalidate >
            <div class="forward-title"> {{'FORWARD_TITLE_DND' | translate}} </div>
            <div class="form-group">
                <div class="container forward-center-div">
                    <button class="btn btn-primary forward-type-button dnd" ng-click="processDnd()">
                        <span ng-if="!user.dndEnabled">{{'FORWARD_TYPE_DND' | translate}}</span>
                        <span ng-if="user.dndEnabled">{{'FORWARD_TYPE_RESET_DND' | translate}}</span>
                    </button>
                </div>
            </div>
        </form>
        <hr class="forward-separator"/>
        <form class="form-horizontal" role="form" name="forwardForm" novalidate>
            <div class="forward-title"> {{'FORWARD_TITLE' | translate}} </div>
            <div class="forward-warning" ng-if="user.dndEnabled">{{'FORWARD_WARN' | translate}}</div>
            <div class="form-group">
                <div class="forward-type-container">
                    <div ng-repeat="type in forwardTypes">
                        <div class="checkbox forward-type-title">
                            <input type="checkbox" id="{{type.id}}" ng-model="user[type.enable]" ng-disabled="user.dndEnabled">
                            <label for="{{type.id}}">
                                {{type.label}}
                            </label>
                        </div>
                        <span class="forward-type-text" ng-class="{'disabled': user.dndEnabled}">{{'FORWARD_PHONE' | translate}}</span>
                        <span class="container forward-center-div">
                            <input ng-if="!user[type.enable]" ng-disabled="!user[type.enable]" ng-model="user[type.destination]"
                                   class="form-control text-center forward-type-number" ng-class="{'disabled': !user[type.enable]}" type="text">
                            <input ng-if="user[type.enable]" ng-disabled="user.dndEnabled" valid-phone-number ng-required="user[type.enable]" ng-model="user[type.destination]"
                                   class="form-control text-center forward-type-number" ng-class="{'disabled': user.dndEnabled}" type="text">
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="container forward-center-div">
                    <button class="btn btn-primary forward-type-button" ng-disabled="forwardForm.$invalid || user.dndEnabled" ng-click="processForward()">{{'FORWARD_CONFIRM' | translate}}</button>
                </div>
            </div>
        </form>
        <hr class="forward-separator"/>
    </div>
    <div class="modal-footer forward-footer">
        <button class="btn btn-warning" ng-click="close()">{{'FORWARD_DISMISS' | translate}}</button>
    </div>
</script>
