@()

<div class="show-grid">
    <div class="no-result" ng-if="history.length == 0" translate="NO_HISTORY"></div>
     <table class="table">
        <tbody ng-repeat="dayHistory in history">
            <tr class="history-day"><td colspan="4">{{formatHistoryDay(dayHistory.day)}}</td></tr>
            <tr ng-repeat="callDetail in dayHistory.details"
                ng-mouseover="callDetail.hover=true" ng-mouseleave="callDetail.hover=false" class="history-detail">
                <td class="user-status"></td>
                <td class="history-phone">
                  <span ng-if="callDetail.firstName || callDetail.lastName">
                    {{callDetail.firstName}} {{callDetail.lastName}}
                  </span>
                  <span ng-if="!(callDetail.firstName || callDetail.lastName)">
                    {{callDetail.number}}
                  </span>
                </td>
                <td class="history-status">
                    <img ng-src="{{statusImage(callDetail.status)}}"/>
                    <a ng-if="!(callDetail.firstName || callDetail.lastName)" href="" ng-click="createContact(callDetail.number,callDetail.firstName,callDetail.lastName)"
                       title="{{'CONTACT_ADD' | translate}}">
                        <i class="fa fa-user-plus" aria-hidden="true"></i>
                    </a>
                </td>
                <td class="history-time">
                    <span>{{formatHistoryTime(callDetail.start)}}</span>
                    <a href="" ng-click="dial(callDetail.number)"><i class="fa fa-phone" aria-hidden="true"></i></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
