@()

<div class="modal-header personal-contacts">
    <div class="modal-pre-title">{{'CONTACT' | translate}}</div>
    <div class="modal-title">{{ctrl.contactId ? 'CONTACT_UPDATE' : 'CONTACT_CREATE' | translate}}</div>
    <div class="modal-actions">
        <div class="delete" ng-click="ctrl.confirmDelete()" title="{{'CONTACT_DELETE' | translate}}" ng-if="ctrl.contactId">
            <a class="fa-stack" href="">
                <i class="fa fa-circle fa-stack-2x background"></i>
                <i class="fa fa-trash fa-stack-1x foreground"></i>
            </a>
        </div>
        <div class="favorites" ng-click="favorite = !favorite" ng-class="{'active': favorite}" title="{{'CONTACT_FAVORITE' | translate}}">
            <a class="fa-stack" href="">
              <i class="fa fa-circle fa-stack-2x background"></i>
              <i class="fa fa-star fa-stack-1x foreground"></i>
            </a>
        </div>
    </div>
</div>

<div class="modal-body personal-contacts">
    <div class="container-fluid">
        <div ng-messages='ajaxRequest'>
            <div ng-message='error'>
                <div class="alert alert-danger">
                    <b>{{'CONTACT_ERROR' | translate}}</b> {{'CONTACT_ERROR_GENERIC' | translate}}
                </div>
            </div>
            <div ng-message='errorDuplicateContact'>
                <div class="alert alert-danger">
                    <b>{{'CONTACT_ERROR' | translate}}</b> {{'CONTACT_ERROR_DUPLICATE' | translate}}
                </div>
            </div>
            <div ng-message='errorContactNotFound'>
                <div class="alert alert-danger">
                    <b>{{'CONTACT_ERROR' | translate}}</b> {{'CONTACT_ERROR_NOBODY' | translate}}
                </div>
            </div>
            <div ng-message='errorInvalidContact'>
                <div class="alert alert-danger">
                    <b>{{'CONTACT_ERROR' | translate}}</b> {{'CONTACT_ERROR_INVALID' | translate}}
                </div>
            </div>
            <div ng-message='errorUnreachable'>
                <div class="alert alert-danger">
                    <b>{{'CONTACT_ERROR' | translate}}</b> {{'CONTACT_ERROR_UNREACHABLE' | translate}}
                </div>
            </div>
        </div>
        <form name="personalContactForm" class="form-group" novalidate>
            <input name="lastname" ng-model="lastname" type="text" class="form-control" placeholder="{{'CONTACT_LASTNAME' | translate}}"/>
            <input name="firstname" ng-model="firstname" type="text" class="form-control" placeholder="{{'CONTACT_FIRSTNAME' | translate}}"/>
            <input name="company" ng-model="company" type="text" class="form-control" placeholder="{{'CONTACT_COMPANY' | translate}}"/>
            <input name="email" ng-model="email" type="text" class="form-control" placeholder="{{'CONTACT_EMAIL' | translate}}"/>
            <input name="number" ng-model="number" type="text" class="form-control" placeholder="{{'CONTACT_NUMBER' | translate}}"/>
            <input name="mobile" ng-model="mobile" type="text" class="form-control" placeholder="{{'CONTACT_MOBILE' | translate}}"/>
            <input name="fax" ng-model="fax" type="text" class="form-control" placeholder="{{'CONTACT_OTHER_NUMBER' | translate}}"/>
        </form>
    </div>
</div>

<div class="modal-footer">
    <button class="btn btn-warning pull-left" ng-click="ctrl.dismiss()">{{'CONTACT_DISMISS' | translate}}</button>
    <button class="btn btn-primary pull-right" ng-click="ctrl.save()" ng-disabled="ajaxRequest.ongoing">
        {{'CONTACT_SAVE' | translate}} <i ng-show="ajaxRequest.ongoing" class="fa fa-spinner fa-pulse fa-fw">&nbsp;</i>
    </button>
</div>