@import _root_.configuration.Config

@(title: String, config: Config, token: Option[String]=None)(implicit lang: Lang)


<!DOCTYPE html>
<html ng-app="ucAssistant" ng-cloak>
    <head>
        @head(title)

        <script src="@routes.Assets.versioned("javascripts/SIPml-api.js")" type="text/javascript"></script>

        <script src="@routes.Assets.versioned("javascripts/xccti/js/xc_webrtc.js")" type="text/javascript"></script>

        <script src="@routes.Assets.versioned("javascripts/dist/ucassistant.js")" type="text/javascript"></script>

        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/ucassistant/main.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/ucassistant/structure.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/login.css")">
        <link rel="shortcut icon" type="image/png" sizes="16x16" href="@routes.Assets.versioned("images/ucassistant/ico/xivo_app_icon_16.png")">
        <link rel="shortcut icon" type="image/png" sizes="32x32" href="@routes.Assets.versioned("images/ucassistant/ico/xivo_app_icon_32.png")">
        <link rel="shortcut icon" type="image/png" sizes="64x64" href="@routes.Assets.versioned("images/ucassistant/ico/xivo_app_icon_64.png")">
        <link rel="shortcut icon" type="image/png" sizes="128x128" href="@routes.Assets.versioned("images/ucassistant/ico/xivo_app_icon_128.png")">

    </head>
    <body data-preferredlang="@{lang.language}" state="{{$state.current.name}}">

        <div ui-view></div>
        <script type="text/javascript">
         var externalConfig={};
         externalConfig.hostAndPort = "@config.hostAndPort";
         externalConfig.useSso = @config.useSso;
         @config.casServerUrl.map { url =>
             externalConfig.casServerUrl = "@url";
             externalConfig.casLogoutEnable = @config.casLogoutEnable;
         }
         var appVersion = "@(server.info.BuildInfo.version)"
        </script>
        @if(token.isDefined) {
            <input type="hidden" value="@token.get" id="token"/>
        }


    </body>
</html>
