@()(implicit i18nMessages: Messages)

<div ng-controller="ViewController" class="clearfix">
    <ul class="navigation">
        <li ng-class="{menuselected : isActive('interface.history')}">
            <a class="btn btn-lg btn-circle btn-dark" ui-sref="interface.history" title="{{'SIDEBAR_HISTORY' | translate}}">
                <i class="fa fa-history" aria-hidden="true"></i>
                <span class="badge ng-binding ng-scope" ng-if="missedCalls > 0">{{missedCalls}}</span>
            </a>
        </li>

        <li ng-class="{menuselected : isActive('interface.favorites')}">
            <a class="btn btn-lg btn-circle btn-dark" ui-sref="interface.favorites" title="{{'SIDEBAR_CONTACT' | translate}}">
                <i class="fa fa-star" aria-hidden="true"></i>
            </a>
        </li>

        <li ng-class="{menuselected : isActive('interface.callControl')}" ng-controller="CallControlController">
            <a class="btn btn-lg btn-circle btn-dark" ui-sref="interface.callControl" title="{{'SIDEBAR_CALLCONTROL' | translate}}">
                <i class="fa fa-phone" aria-hidden="true"></i>
                <span class="badge" ng-if="calls.length > 0">{{calls.length}}</span>
            </a>
        </li>
    </ul>
    <div class="input-group search-form" title="@i18nMessages("phonebar.dialerTooltip")">
        <input class="form-control" type="text" placeholder='@i18nMessages("xivo.dialbox")' id="numberTodial" ng-model="destination">
        <span class="input-group-btn">
            <button class="btn btn-default search-btn" id="xuc_search" type="button"><i class="fa fa-search" aria-hidden="true"></i></button>
        </span>
    </div>
</div>
