@()
<div class="header" ng-controller="UserController">
    <img class="logo" src="@routes.Assets.versioned("images/ucassistant/head-icon.svg")" />
    <span class="version">@(server.info.BuildInfo.version)</span>
    <a class="menu pull-right" href="" ng-click="showMenu()" id="menu"><i class="fa fa-bars"></i></a>
    @confirmdialog()
    <div class="user">{{user.fullName}}</div>
    <div class="forward-number" ng-show="isForwarded()">{{getForwardNumberOrDnd()}}</div>
    <div class="clearfix user-action">
        <a class="btn btn-circle btn-info pull-left" ng-click="logout()" href><span class="glyphicon glyphicon-off"></span></a>
        <div class="context">
            <img ng-src="{{'@routes.Assets.versioned("images/ucassistant/")'+ getDisplayIcon() +'_logo.svg'}}" />
            <a id="userForward" popover-placement="bottom"
                uib-popover="{{forwardPopover()}}"
                popover-trigger="'mouseenter'" ng-click="showForward()" class="btn btn-info btn-xs  btn-circle" ng-controller="ForwardController">
                <i class="glyphicon glyphicon-chevron-down"></i></a>
            @forwarddialog()
        </div>
        <a class="btn btn-circle btn-info pull-right" ng-controller="VoiceMailController" ng-click="callMailBox()">
            <img src="@routes.Assets.versioned("images/ucassistant/voicemail.svg")" /><span class="badge" ng-if="voiceMail.newMessages">{{voiceMail.newMessages}}</span>
        </a>
    </div>
</div>

