<div ng-show="showWebApp()" class="box-app">
    <webview ng-src="{{url | trusted}}" preload="js/preload-webview.js" allowpopups></webview>
</div>

<div ng-hide="showWebApp()">
    <div id="xivo-logo">
        <img src="img/xivo_logo.png">
        <img src="img/xivo_illustration.png" class="phone">
    </div>

    <div class="box-grey">
        <div ui-view></div>
    </div>
</div>
