<div>
    <div class="title" translate="SETTINGS_TITLE"></div>
    <form class="clearfix" name="settings" novalidate>
        <label translate="SETTINGS_OPTIONS"></label>
        <div class="checkbox">
            <input type="checkbox" name="startUp" id="optionStartUp" ng-model="startup">
            <label for="optionStartUp">{{ 'SETTINGS_STARTUP' | translate }}</label>
        </div>
        <div class="checkbox">
            <input type="checkbox" name="closeTray" id="optionCloseTray" ng-model="close">
            <label for="optionCloseTray">{{ 'SETTINGS_CLOSE_TRAY' | translate }}</label>
        </div>
        <div class="form-group" ng-class="{'has-error': !settings.shortcut.$valid}">
            <label class="control-label" translate="SETTINGS_SHORTCUT"></label>
            <ui-select multiple name="shortcut" ng-model="shortcut.current" theme="bootstrap" sortable="true" close-on-select="true" limit="4" valid-shortcut>
                <ui-select-match placeholder="{{'SETTINGS_SHORTCUT_PLACEHOLDER' | translate}}">{{$item.label}}</ui-select-match>
                <ui-select-choices group-by="groupKey" repeat="key in keyList | filter: {label: $select.search}">
                    {{key.label}}
                </ui-select-choices>
            </ui-select>
            <div class="help-block" ng-show="settings.shortcut.$error.format">{{displayShortcutError()}}</div>
        </div>
        <label translate="SETTINGS_PROTOCOL"></label>
        <div class="radio">
            <input type="radio" name="protocol" id="optionRadioSecure" value="https" ng-model="protocol">
            <label for="optionRadioSecure">{{ 'SETTINGS_PROTOCOL_SECURE' | translate }}</label>
        </div>
        <div class="radio">
            <input type="radio" name="protocol" id="optionRadioNotSecure" value="http" ng-model="protocol">
            <label for="optionRadioNotSecure">{{ 'SETTINGS_PROTOCOL_NOTSECURE' | translate }}</label>
        </div>
        <div class="form-group">
            <label for="remoteUrl" translate="SETTINGS_REMOTE_URL"></label>
            <input id="remoteUrl" class="form-control" ng-model="domain" placeholder="Url">
        </div>
        <br>
        <div class="clearfix">
            <a class="btn btn-default-alt btn-uppercase" ui-sref="main" translate="BUTTON_CANCEL"></a>
            <input class="btn btn-primary-alt btn-uppercase pull-right" type="submit" ng-disabled="settings.$invalid"
                   value="{{'BUTTON_SAVE' | translate}}" ng-click="save()">
        </div>
    </form>
</div>



