.callbacks-content {
  .myactivities {
    float: right;
    margin: 0;
    margin-right: 50px;
    font-family: roboto-italic;
  }
}

.callbacks-list {
  &.overdue:hover {
    background-color: @callback-overdue !important;
  }
  &.now:hover {
    background-color: @callback-now !important;
  }
  &.later:hover {
    background-color: @callback-later !important;
  }
  tr:not(.empty-text):hover td {
    color: @white;
  }
  
}

.callbacks {
    width: 20px;
    height: 20px;
    margin-top: 5px;
    position: relative;

    .nopadding {
        padding: 0;
    }

    &.callback-mevo {
      top: -22px;
    }

    &.state-now {
      margin-left: 20px;
      &:after {
        content: url("@{images}/callback/rappels-clock-ok.svg");
      }
    }

    &.state-later {
      margin-left: 20px;
      &:after {
        content: url("@{images}/callback/rappels-clock-alert.svg");
      }
    }

    &.state-overdue {
      margin-left: 20px;
      &:after {
        content: url("@{images}/callback/rappels-clock-late.svg");
      }
    }

    .callback-mevo {
      position: relative;
      left: -27px;
      top: 21px;
      font-size: 17px;
      color: @color-lighter;
    }

    &.right_arrow {
        position: relative;
        top: 2px;
        left: 10px;

        &.callback-mevo-hover {
          left: 0px;
        }

        &:after {
          content: url("@{images}/callback/right-light.svg");
        }
    }

    &.left_arrow {
        &:after {
          content: url("@{images}/callback/left-light.svg");
        }

    }
    &.left_arrow:hover {
        cursor: pointer;
    }
}

.callback-content-detail {

    .detail-header {
        margin-bottom: 20px;
        background-color: @callback-detail-header-background;
        height: 35px;
        color: @agent-header-foreground;
        font-family: roboto-bold;
        font-size: 15px;
        padding-top: 8px;
    }

    .detail-content-header {
        margin: 10px 48px 20px 48px;
        height: 35px;
        border: solid 1px @agent-content-submenu-border;
        display: flex;
    }

    .detail-content-mevo, .detail-content-footer {
        display: inline-flex;
        height: 40px;
        margin-bottom: 10px;

        .call-buttons {
            width: 122px;
            height: 40px;
            border-radius: 4px;
            background-color: @callback-detail-button-background;
            border-style:none;
            font-family: roboto-bold;
            font-size: 15px;
            text-align: center;
            color: @agent-content-submenu-color;
            margin-right: 9px;

            .vcenter {
              margin-top: 0.75em;
            }

            .hover {
              .fa-phone {
                position: relative;
                top: 5px;
                margin-right: 5px;
              }
              .fa-envelope {
                position: relative;
                top: 4px;
                margin-right: 10px;
              }

              color: @white;
              background-color: @callback-detail-button-background-hover;
              cursor: pointer;
            }
         }
    }

    .detail-content {
        margin: 10px 48px 20px 48px;
        height: 100%;
    }

    .detail-content-item {
        width: 100%;

        .detail-content-item-inline {
            display: flex;
        }

        .title {
            width: 180px;
            height: 10px;
            font-family: roboto;
            font-size: 13px;
            color: @xivo-dark-gray;
        }
        .body {
            width: 100%;
            font-family: roboto-bold;
            font-size: 15px;
            color: @xivo-dark;
            display: flex;
            padding-bottom: 5px;
        }
        .body-input {
            width: 100%;
            font-family: roboto;
            font-size: 15px;
            color: @xivo-dark;
            margin-bottom: 10px;

            .input-calendar {
              font-family: roboto-bold;
              font-size: 15px;
              &::-webkit-input-placeholder { font-family: roboto; }
              &::-moz-placeholder { font-family: roboto; }
            }

            .btn-calendar {
              .box-shadow(inset 0 1px 1px rgba(0, 0, 0, 0.075));
              border: 1px @input-border solid;
              height: 40px;
              border-left: 0px;
              border-bottom-right-radius: 4px;
              border-top-right-radius: 4px;
              padding: 0 15px;
            }
            .fa-calendar {
              font-size: 22px;
            }

            .uib-datepicker-popup.dropdown-menu {
              .btn {
                border-radius:0;
                padding: 0 0;
                font-size: 15px;
              }

              .text-info {
                  color: @xivo-primary;
              }
            }
        }
    }

    .detail-header-buttons {
        width: 132.5px;
        font-family: roboto-bold;
        font-size: 15px;
        line-height: 2.33;
        text-align: center;
        display: inline-flex;
        line-height: 2.33;
        color: @agent-content-submenu-color;
        background-color: @agent-content-submenu-background;

        &.inactive {
          opacity: 0.3;
          cursor: pointer;

          &:hover{
            opacity: 0.5;
          }

          &.forbidden, &.forbidden:hover {
            opacity: 0.3;
            cursor: not-allowed;
          }
        }

        p {
          margin: auto;
        }
    }

    .detail-content-buttons {
        text-align:center;
        &.grouped {
          display: inline-flex;
        }

        .button {
          width: 118px;
          height: 40px;
          margin: 32px 5px;
          border-radius: 4px;
          border-style:none;
          font-family: roboto-bold;
          font-size: 15px;
          text-align: center;
          display: inline-flex;
          color: @white;

          &.cancel-button {
              background-color: @xivo-dark-gray;
          }

          &.ok-button {
              background-color: @xivo-primary;
          }

          &:hover {
            opacity: 0.5;
            cursor: pointer;
          }

          &:disabled {
            opacity: 0.5;
            cursor: not-allowed;
          }
        }

        p {
            margin: auto;
        }
    }
}

.callback-menu-clock {
    width: 20px;
    height: 20px;
    object-fit: contain;
    position: absolute;
    bottom: 20px;
    right: 9px;

    @media @sidebar {
        bottom: 1px;
        right: 0px;
        left: 7px;
    }

    &.state-now {
        &:after {
          content: url("@{images}/callback/menu-rappel-clock-ok.svg");
        }
    }
    &.state-later {
        &:after {
          content: url("@{images}/callback/menu-rappel-clock-alert.svg");
        }
    }
    &.state-overdue {
        &:after {
          content: url("@{images}/callback/menu-rappel-clock-late.svg");
        }
    }
    &.callback-menu-clock:hover {
        cursor: pointer;
    }
}
