@font-face {
  font-family: FontAwesome;
  src:url(/assets/bower_components/font-awesome/fonts/fontawesome-webfont.woff2?v=4.6.3)
}

@font-face {
  font-family: roboto;
  src: url(/assets/fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: roboto-bold;
  src: url(/assets/fonts/Roboto-Bold.ttf);
}

@font-face {
  font-family: roboto-italic;
  src: url(/assets/fonts/Roboto-Italic.ttf);
}