
.links {
  .menu-label {
    font-size: 12px;
    text-align: center;
    color: #545454;

    @media @sidebar {
      display: none;
    }
  }

  & > div:hover > a:not(.active) {
      opacity : 0.8;
  }

  .history-menu {
    &::after {
      content: url("@{images}/menu/history_default.svg");
    }

    &.active {
      &::after {
        content: url("@{images}/menu/history_selected.svg");
      }
    }
  }

  .activities-menu {
    &::after {
      content: url("@{images}/menu/activities_default.svg");
    }

    &.active {
      &::after {
        content: url("@{images}/menu/activities_selected.svg");
      }
    }

    .call-badge {
      margin-top: 31px;
      margin-left: 31px;

      @media @sidebar {
        margin-left: -6px;
      }
    }
  }

  .agents-menu {
    &::after {
      content: url("@{images}/menu/agents_default.svg");
    }

    &.active {
      &::after {
        content: url("@{images}/menu/agents_selected.svg");
      }
    }
  }

  .callbacks-menu {
    &::after {
      content: url("@{images}/menu/callbacks_default.svg");
    }

    &.active {
      &::after {
        content: url("@{images}/menu/callbacks_selected.svg");
      }
    }
  }

  .callbacks-menu-icon {
      @relative();
    }

  .customer-menu {
    &::after {
      content: url("@{images}/menu/customer_default.svg");
    }

    &.active {
      &::after {
        content: url("@{images}/menu/customer_selected.svg");
      }
    }
  }

  .search-menu {
    &::after {
      content: url("@{images}/menu/search_default.svg");
    }

    &.active {
      &::after {
        content: url("@{images}/menu/search_selected.svg");
      }
    }

    @media @main {
      display: none;
    }
  }
}
