 .stats {
   background-color: @xivo-dark;
   font-size: 13px;
   letter-spacing: 1.3px;
   font-family: roboto-bold;
   color: @agent-header-foreground;

    @media @sidebar {
      display: block;
    }

    .stat-sidebar {
      height: 70px;
      padding-top: 12px;
      text-align: center;

      @media @main {
        display: none;
      }
    }

    .separator {
      margin: 0;
      border-right: solid 1px @agent-separator-gray;
      border-left: solid 1px @agent-separator-gray;

      @media @sidebar {
        border-right: 0;
        border-bottom: solid 1px @agent-separator-gray;
      }
    }

    .PausedTime::after {
      content: url("@{images}/stats/stat_pausedtime_light.svg");
    }

    .InbAcdCallTime::after {
      content: url("@{images}/stats/stat_inbacdcalltime_light.svg");
    }

    .InbAcdCalls::after {
      content: url("@{images}/stats/stat_inbacdcalls_light.svg");
    }

    .InbAverAcdCallTime::after {
      content: url("@{images}/stats/stat_inbavercalltime_light.svg");
    }

    .WrapupTime::after {
      content: url("@{images}/stats/stat_wrapuptime_light.svg");
    }

    .InbAnsAcdCalls::after {
      content: url("@{images}/stats/stat_inbansacdcalls_light.svg");
    }

    .InbPercUnansAcdCalls::after {
      content: url("@{images}/stats/stat_inbpercunansacdcalls_light.svg");
    }

    .InbUnansAcdCalls::after {
      content: url("@{images}/stats/stat_inbunansacdcalls_light.svg");
    }

    .OutCalls::after {
      content: url("@{images}/stats/stat_outcalls_light.svg");
    }

    .OutCallTime::after {
      content: url("@{images}/stats/stat_outcalltime_light.svg");
    }


   &.carousel-container {
     width: 330px;
     margin: 0 auto;

     .ui-carousel {
       display: block;

       .arrow {
         position: relative;
         top: 2px;
         left: 3px;
         font-size: 24px;
         color: @agent-header-foreground;
       }

       .stat-item {
         height: 40px;
         width: 110px;
         padding-top: 6px;
         padding-left: 5px;
         padding-right: 2px;

         .stat-label {
           float: right;
           padding-right: 2px;
           padding-top: 5px;
         }
       }

       .carousel-prev {
         background-color: @xivo-dark;
         cursor: pointer;
         position: absolute;
         height: 40px;
         width: 15px;
         left: -15px;
         top: 0;
       }

       .carousel-next {
         background-color: @xivo-dark;
         cursor: pointer;
         position: absolute;
         height: 40px;
         width: 15px;
         top: 0;
         right: -15px;
       }

       .carousel-disable {
         cursor: default;

         .fa {
           opacity: 0.5;
         }
       }

       .carousel-wrapper {
         position: relative;
       }

       .track-wrapper {
         position: relative;
         display: block;
         overflow: hidden;
         margin: 0;
         padding: 0;
       }

       .track {
         position: relative;
         display: block;
         float: left;
       }
       .slide {
         float: left;
         height: 100%;
         min-height: 1px;
       }
     }

      @media @sidebar {
        visibility: hidden;
        position: absolute;
        opacity: 0;
      }
    }

  }




