@import "bower_components/bootstrap/less/bootstrap.less";
@import "bower_components/font-awesome/less/font-awesome.less";
@import "bower_components/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.less";
@import "../_variables.less";
@import "_variables.less";
@import "_body.less";
@import "../xchelper/main.less";
@import "../login.less";
@import "../xuc.less";
@import "../bars.less";
@import "../_forms.less";
@import "../_buttons.less";
@import "_menu.less";
@import "_fonts.less";
@import "_tables.less";
@import "_content.less";
@import "_agentstates.less";
@import "_callstates.less";
@import "_stats.less";
@import "_callbacks.less";


.ccagent-container {
  font-family: 'roboto', sans-serif;
  display: block;
  height: 100%;
  width: 360px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow: hidden;
  .box-shadow(0 2px 5px 0 rgba(110, 110, 110, 0.5));

  @media @sidebar {
    width: 100%;
    max-width: 70px;
    overflow: hidden;
    height: auto;
  }

  @media @sidebar-mid {
    max-width: 120px;
  }

  .header {
    height: 30px;
    @media @main {
      height: 60px;
    }

    background-color: @agent-menu-dark-gray;
    color: @agent-header-foreground;

    .maxmin-btn {
      position: absolute;
      top: 8px;
      right: 15px;
      &::after {
        content: url("@{images}/menu/window_minimize.svg");
      }
      @media @sidebar {
        top: 6px;
        right: 5px;
        &::after {
          content: url("@{images}/menu/window_maximize.svg");
        }
      }

      &.hide {
        visibility: hidden;
      }
    }

    .main {
      @media @sidebar {
        display: none;
      }

      &.name {
        padding-left: 0px;
        font-size: 16px;
        font-family: roboto-bold;
        line-height: 1.45;
      }

      &.phone {
        color: #fff;
        position: absolute;
        right: 15px;
        top: 34px;
        font-size: 12px;
        letter-spacing: 1px;

        .fa {
          padding-right: 5px;
        }
      }

      &.version {
        color: @agent-main-version;
        position: absolute;
        right: 15px;
        top: 10px;
        font-size: 9px;
      }

      &.hamburger-menu {
        padding-left: 0px;

        &:hover {
          text-decoration: none;
        }

        .fa {
          padding-top: 6px;
          font-size: 1.5em;
          color: @agent-header-foreground;
        }
      }
    }
  }

  .phone-box {
    height: 90px;
    background-color: @xivo-dark-gray;

    .answer-call {
      padding: 20px 10px;
      &::after {
        content: url("@{images}/call/inactive_answer.svg");
      }
    }

    @media @main {
      display: none;
    }
  }

  .links {
    padding: 10px 0px 25px 0px;
    background-image: @agent-main-gradient-top;

    & > div {
      float: left;
      width: 70px;
      text-align: center;

      @media @sidebar {
        text-align: center;
        float: none;
        padding-right: 0;
        margin: auto;
      }
    }

    @media @sidebar {
      background-image: @agent-main-gradient-left;
      padding-top: 10px;
      padding-bottom: 5px;
    }
  }

  .call-badge {
    height: 21px;
    max-width: 48px;
    min-width: 21px;
    position: absolute;
    border: solid 2px white;
    border-radius: 22px;
    padding: 4px 4px;
    font-size: 11.5px;
    background-color: @activity-badge-background;
  }

  .search {
    background-color: @agent-main-background;
    .search-form {
      padding: 20px 20px 13px 20px;

      .form-control {
        border-radius: 30px 0px 0px 30px;
        height: 40px;
        font-size: 14px;
        background-color: @agent-search-background;
        border: 1px solid @agent-search-background;
        box-shadow: none;
        text-align: center;
        padding-left: 40px;
      }

      .input-group-btn>.btn {
        color: @agent-menu-dark-gray;
        background-color: @agent-search-background;
        border: 1px solid @agent-search-background;
        border-left: 0 none;
        border-radius: 0px 30px 30px 0px;
        padding: 3px 12px 0 10px;
        font-size: 18px;
        height: 40px;
        width: 40px;
        outline: none;
        &:hover {
          color: @agent-separator-gray;
        }

        .fa {
          padding-bottom: 7px;
        }
      }

      &:focus {
        .form-control, .input-group-btn>.btn {
          box-shadow: none;
        }
      }
    }
    @media @sidebar {
      display: none;
    }
  }

  .content-settings-title {
      font-weight: bold;
      font-size: 1.2em;
      text-align: center;
      padding: 10px;
      background: #eaeaea;
  }

  .content-settings {
      margin: 10px;
  }
}

.third-party-container {
  font-family: 'roboto', sans-serif;
  display: block;
  height: 100%;
  width: calc(~'100% - 360px');
  position: fixed;
  z-index: 1;
  top: 0;
  left: 360px;
  border-left: 1px solid @input-border;

  .title {
    background-color: @agent-menu-dark-gray;
    color: @white;
    padding: 5px;
    text-align: center;
  }

  #thirdpartyframe {
    width: 100%;
    height: 100%;
  }

  @media @sidebar {
    left: 70px;
    width: calc(~'100% - 70px');
  }
}
