<div class="call-control">
    <!-- sidebar -->
    <div class="answer-hangup-box" ng-class="{'ring': isRinging(), 'hangup': isEstablished()}" ng-click="triggerAction()">
        <div class="answer-hangup-call">
            <div class="circle">
                <i class="fa fa-phone fa-2x"></i>
            </div>
        </div>
    </div>
    <!-- end sidebar -->
    <call-line ng-repeat="current in calls" call="current" ng-if="!conference.active" show-recording-controls="showRecordingControls"></call-line>
    <call-conference ng-if="conference.active"></call-conference>
</div>
