<div class="call-line" ng-class="getClass()">
    <div class="call-info">
        <div class="call-icon"><i class="fa" ng-class="getIconClass()" aria-hidden="true"></i>
        </div>
        <div class="call-party">
            <div class="call-party-name" ng-if="call.otherDName"><scroll-text>{{call.otherDName}}</scroll-text></div>
            <div class="call-party-number">{{call.otherDN}}</div>
        </div>
        <div class="call-queue">
            <div class="call-queue-name" ng-if="queueDisplayName"><scroll-text>{{queueDisplayName}}</scroll-text></div>
            <div class="call-time" elapsed-time-from="call.startTime"></div>
        </div>
        <div class="call-options">
            <div><img ng-src="/assets/images/ccagent/call/call_rec_{{recording}}.svg" /></div>
            <div><img ng-src="/assets/images/ccagent/call/call_ecoute_discrete_{{listened}}.svg" /></div>
        </div>
    </div>
    <div class="call-actions">
        <div ng-repeat="action in getCallActions()" ng-class="action.label" ng-init="variant='default'" ng-mouseover="variant='over'" ng-mouseout="variant='default'">
            <a href ng-click="action.trigger()" title="{{ 'AGT_CALL_' + action.label.toUpperCase() | translate }}">
                <img ng-src="/assets/images/ccagent/call/{{action.icon + '_' + variant}}.png" />
            </a>
        </div>
    </div>
</div>
