<div class="search-content">
    <div class="search-results">
        <span ng-show="!ctrl.isSearching()">
            <label>{{'AGT_CONTENT_SEARCH_QUERY' | translate}}:</label> {{searchTerm}}
        </span>
        <span ng-show="searchResult.length && !ctrl.isSearching()">
           <label class="count-separator">
               <i class="fa fa-exchange" aria-hidden="true"></i>
           </label>
           {{ searchResult.length }} <label>{{'AGT_CONTENT_SEARCH_RESULT' | translate}}</label>
        </span>
    </div>
    <table class="table table-striped">
        <tbody class="no-border">
            <tr ng-if="ctrl.isSearching()" class="empty-text"><td colspan="2"><i class="fa fa-2x fa-spinner fa-pulse fa-fw"></i></td></tr>
            <tr ng-show="!searchResult.length && !ctrl.isSearching()" class="empty-text"><td colspan="3">{{'AGT_CONTENT_SEARCH_NONE' | translate}}</td></tr>
            <tr ng-show="!ctrl.isSearching()" ng-repeat="contact in searchResult" ng-class="ctrl.getPhoneStateBackColor(contact)"
                ng-mouseover="contact.hover=true" ng-mouseleave="contact.hover=false"
                title="{{ctrl.getPhoneStateLabel(contact) | translate}}">
                <td class="col-xs-10">
                    <p long-text="{{ contact.entry[0] }}" max-chars="30"></p>
                </td>
                <td class="col-xs-2 text-center">
                    <span ng-show="!contact.hover">
                      <i class="fa fa-user" ng-class="ctrl.getPhoneStateTextColor(contact)"></i>
                    </span>
                    <span ng-show="contact.hover">
                        <call-action-dropdown contact="contact" stacked="true" email-max-chars="30"></call-action-dropdown>
                    </span>
                </td>
            </tr>
        </tbody>
    </table>
</div>
