<div class="agent-content">
    <table st-table="displayedAgents" st-safe-src="agents" class="table table-striped">
        <thead class="no-border">
            <tr>
                <th st-sort="lastName" st-sort-default="true" st-delay="-1" class="sortable col-xs-5">{{'AGT_CONTENT_AGT_LASTNAME' | translate}}</th>
                <th st-sort="firstName" class="sortable col-xs-5">{{'AGT_CONTENT_AGT_FIRSTNAME' | translate}}</th>
                <th st-sort="state" class="sortable col-xs-2 text-center" >{{'AGT_CONTENT_AGT_STATE' | translate}}</th>
            </tr>
            <tr class="submenu">
                <th colspan="3">
                    <div class="checkbox pull-right">
                        <input type="checkbox" id="loggedAgents" ng-model="displayLoggedAgents" ng-change="ctrl.loadAgents()">
                        <label for="loggedAgents">
                            {{'AGT_CONTENT_AGT_DISPLAY_LOGGED' | translate}}
                        </label>
                    </div>
                </th>
            </tr>
        </thead>
        <tbody class="no-border">
            <tr ng-if="!displayedAgents.length" class="empty-text"><td colspan="4">{{'AGT_CONTENT_AGT_NO_AGENTS' | translate}}</td></tr>
            <tr ng-repeat="agent in displayedAgents track by $index"
                ng-mouseover="ctrl.setHoverInfo(agent); agent.hover=true" ng-mouseleave="agent.hover=false" ng-class="ctrl.getAgentStateBackColor(agent)"
                uib-popover-template="'agent-counters.html'" popover-trigger="'mouseenter'" popover-placement="bottom-right"
                popover-append-to-body="true" popover-popup-delay="600" popover-class="table-popover">
                <td>
                    <p class="pull-left" long-text="{{ agent.lastName }}" max-chars="15"></p>
                </td>
                <td>
                    <p class="pull-left" long-text="{{ agent.firstName }}" max-chars="15"></p>
                </td>
                <td class="text-center">
                    <span ng-show="!agent.hover" class="agent-icon" ng-class="ctrl.getAgentStateFillColor(agent)">
                        <svg>
                            <path d="M17.602 8.571a.798.798 0 0 0 .022-.229V7.49c0-2.017-.78-3.901-2.217-5.308C13.969.775 12.045 0 9.98 0 7.914 0 5.999.775 4.56 2.182 3.125 3.59 2.348 5.473 2.348 7.49v.852a.8.8 0 0 0 .022.23C1.052 8.672 0 10.043 0 11.713c0 1.678 1.053 3.054 2.378 3.145.354.465.926.749 1.534.749 1.058 0 1.917-.841 1.917-1.874v-4.04c0-1.001-.787-1.821-1.797-1.871V7.49c0-3.278 2.602-5.845 5.953-5.845 3.352 0 5.954 2.567 5.954 5.845v.333a1.877 1.877 0 0 0-1.797 1.87v4.041c0 .676.368 1.269.919 1.598a5.841 5.841 0 0 1-2.554 2.05c-.286-.311-.7-.507-1.16-.507H9.185c-.86 0-1.559.682-1.559 1.521v.027c0 .84.7 1.522 1.56 1.522h2.16c.633 0 1.179-.37 1.423-.9a7.607 7.607 0 0 0 2.769-1.72 7.407 7.407 0 0 0 1.437-1.944c.242-.128.455-.305.62-.522 1.326-.092 2.375-1.467 2.375-3.145 0-1.67-1.051-3.04-2.368-3.143"/>
                        </svg>
                    </span>
                    <span ng-if="agent.phoneNb">
                        <span ng-show="agent.hover" class="fa-stack">
                            <a href="" ng-click="ctrl.dial(agent)">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-phone fa-stack-1x"></i>
                            </a>
                        </span>
                    </span>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<script type="text/ng-template" id="agent-counters.html">
    <div>
        <span class="pull-left">{{'AGT_CONTENT_AGT_POP_STATE' | translate}}</span>
        <span class="pull-right">{{agentInfo.state | translate}}</span>
        <div class="separator"><br/></div>
        <span class="pull-left">{{'AGT_CONTENT_AGT_POP_NUMBER' | translate}}</span>
        <span class="pull-right">{{agentInfo.number | dashWhenEmpty}}</span>
        <div class="separator"><br/></div>
        <span class="pull-left">{{'AGT_CONTENT_ACT_POP_SINCE' | translate}}</span>
        <span class="pull-right">{{agentInfo.since | timeInState | dashWhenEmpty}}</span>
    </div>
    <div class="clearfix"></div>
</script>



