<div>
    <div id="xivo-logo">
        <img src="assets/images/xivo_logo.png" />
    </div>
    <div class="loginlogo">
        <img src="assets/images/ccagent/login/agent_login.png" />
    </div>
    <div id="xivo-description" translate="AGT_LOGIN_DESCRIPTION"></div>
    <login-form on-login="ctrl.onLogin()" host-and-port="ctrl.hostAndPort" error-code="ctrl.error" require-phone-number="true" use-sso="ctrl.useSso" cas-server-url="ctrl.casServerUrl" cas-logout-enable="casLogoutEnable" title="{{ 'AGT_LOGIN_TITLE' | translate }}"/>
</div>


