
<div class="ccagent-container">
    <div class="header">
        <a href class="maxmin-btn" id="maxmin-btn" ng-if="ctrl.isElectron()" ng-click="ctrl.toggleWindow()" ng-model="ctrl.toggled"></a>
        <a ui-sref="content.settings" class="main hamburger-menu" ng-if="ctrl.displayAudioSettings()">
            <i class="fa fa-volume-up" aria-hidden="true"></i>
        </a>
        <span class="main name">{{user.fullName}}</span>
        <span class="main version" ng-if="!ctrl.isElectron()">{{ctrl.showVersion()}}</span>
        <span class="main phone"><i class="fa fa-phone" aria-hidden="true"></i>{{user.phoneNb}}</span>
        <agent-state></agent-state>
    </div>

    <stats-panel display="horizontal" agent-id="{{user.agentId}}"></stats-panel>

    <call-control></call-control>

    <div class="links">
        <div>
            <a href class="history-menu" ng-class="{active: ctrl.isActive('history')}" ng-click="ctrl.show('history')"></a>
            <div class="menu-label">{{'AGT_LINKS_HISTORY' | translate}}</div>
        </div>
        <div>
            <a href class="activities-menu" ng-class="{active: ctrl.isActive('activities')}" ng-click="ctrl.show('activities')">
                <span class="badge call-badge" ng-if="ctrl.getWaitingCalls()">{{waitingCalls}}</span>
            </a>
            <div class="menu-label">{{'AGT_LINKS_ACTIVITIES' | translate}}</div>
        </div>
        <div>
            <a href class="agents-menu" ng-class="{active: ctrl.isActive('agents')}" ng-click="ctrl.show('agents')"></a>
            <div class="menu-label">{{'AGT_LINKS_AGENTS' | translate}}</div>
        </div>
        <div class="callbacks-menu-icon">
            <a href class="callbacks-menu " ng-class="{active: ctrl.isActive('callbacks')}" ng-click="ctrl.show('callbacks.list')"></a>
            <i class="callback-menu-clock state-{{ctrl.getCallbackStatus()}}" ng-click="ctrl.show('callbacks.list')"></i>
            <div class="menu-label">{{'AGT_LINKS_CALLBACKS' | translate}}</div>
        </div>
        <div>
            <a href class="customer-menu" ng-class="{active: ctrl.isActive('customer')}" ng-click="ctrl.show('customer.path')"></a>
            <div class="menu-label">{{'AGT_LINKS_CUSTOMER' | translate}}</div>
        </div>
        <div>
            <a href class="search-menu" ng-class="{active: ctrl.isActive('search')}" ng-click="ctrl.show('search')"></a>
        </div>
    </div>

    <div class="search">
        <div class="input-group search-form" title="{{'AGT_SEARCH_BOX_LIMIT' | translate}}">
            <input class="form-control" id="search" type="text" ng-model="searchValue" placeholder="{{'AGT_SEARCH_BOX' | translate}}" ng-keyup="ctrl.onKeyPress($event.keyCode)">
            <span class="input-group-btn">
                <button class="btn btn-default search-btn" ng-click="ctrl.searchOrDial()" id="xuc_search" type="button"><i class="fa fa-search" aria-hidden="true"></i></button>
            </span>
        </div>
    </div>

    <div ui-view class="content-view"></div>

    <stats-panel display="vertical" agent-id="{{user.agentId}}"></stats-panel>
</div>
