<div class="form-group">
    {{'RINGING_DEVICE_LABEL' | translate}}    
    <ui-select ng-model="ringingDeviceId" theme="bootstrap" ng-required="false" on-select="changeRingingDevice($model)">
        <ui-select-match placeholder="{{'SELECT_RINGING_DEVICE' | translate}}">{{$select.selected.label}}</ui-select-match>
        <ui-select-choices repeat="device.deviceId as device in devices | filter: {label: $select.search}">
            {{device.label}}
        </ui-select-choices>
    </ui-select>
</div>
