<div ng-controller="CallAction" uib-dropdown class="dropdown dropdown-menu-right">
    <a uib-dropdown-toggle role="button" href id="dLabel">
        <i ng-if="!stacked" class="fa {{icon}}" aria-hidden="true"></i>
        <span class="fa-stack" ng-if="stacked">
           <i class="fa fa-circle fa-stack-2x"></i>
           <i class="fa fa-phone fa-stack-1x" aria-hidden="true"></i>
        </span>
    </a>
    <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="dLabel">
        <li ng-repeat="phone in phoneNumbers">
            <div class="input-group">
                <span class="input-group-btn group-btn-copy">
                    <a class="btn btn-lg btn-dark btn-block" ng-click="dial(phone, null, type==='video')">
                        {{phone | prettyPhoneNb}}
                    </a>
                </span>
                <span class="input-group-btn group-btn-copy">
                    <a class="btn btn-lg btn-dark btn-block btn-copy" title="{{'COPY_CLIPBOARD' | translate}}"
                       ngclipboard data-clipboard-text="{{phone}}">
                        <i class="fa fa-clipboard"></i>
                    </a>
                </span>
            </div>
        </li>
        <li ng-if="email">
            <span class="input-group-btn group-btn-copy">
                <a class="btn btn-lg btn-dark btn-block" ng-href="mailto:{{email}}">
                    <span long-text="{{email}}" max-chars="{{emailMaxChars}}"></span>
                </a>
            </span>
            <span class="input-group-btn group-btn-copy">
                <a class="btn btn-lg btn-dark btn-block btn-copy" title="{{'COPY_CLIPBOARD' | translate}}"
                   ngclipboard data-clipboard-text="{{email}}">
                    <i class="fa fa-clipboard"></i>
                </a>
            </span>
        </li>
    </ul>
</div>
