@import _root_.configuration.Config

@(title:String, config: Config)(implicit lang: Lang)

@frame(title) {
    <body data-preferredlang="@{lang.language}" ng-cloak state="{{$state.current.name}}">
        <div ui-view></div>
        <div ui-view="thirdparty"></div>
        <script type="text/javascript">
         var externalConfig={};
         externalConfig.hostAndPort = "@config.hostAndPort";
         externalConfig.useSso = @config.useSso;
         @config.casServerUrl.map { url =>
             externalConfig.casServerUrl = "@url";
             externalConfig.casLogoutEnable = @config.casLogoutEnable;
         }
         var appVersion = "@(server.info.BuildInfo.version)"
        </script>

        <script src="@routes.Assets.versioned("javascripts/shotgun.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/xccti/js/cti.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/xccti/js/callback.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/xccti/js/membership.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/SIPml-api.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/xccti/js/xc_webrtc.js")" type="text/javascript"></script>

        <script src="@routes.Assets.versioned("javascripts/dist/manifest.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/dist/vendor.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/dist/agent.js")" type="text/javascript"></script>

    </body>
} 
