@(title: String)

@import play.Play
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<title>@title</title>


    <script src="@routes.Assets.versioned("javascripts/xccti/js/cti.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("javascripts/xccti/js/callback.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("javascripts/xccti/js/membership.js")" type="text/javascript"></script>


    <script src="@routes.Assets.versioned("javascripts/dist/manifest.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("javascripts/dist/vendor.js")" type="text/javascript"></script>

    
    <script src="@routes.Assets.versioned("javascripts/shotgun.min.js")" type="text/javascript"></script>