@font-face {
  font-family: FontAwesome;
  src:url(/assets/bower_components/font-awesome/fonts/fontawesome-webfont.woff2?v=4.6.3)
}

@font-face {
  font-family: Dyno;
  src: url(/assets/fonts/dyno-regular.ttf);
}

@font-face {
  font-family: DynoBold;
  src: url(/assets/fonts/dyno-bold.ttf);
}