@import "bower_components/bootstrap/less/bootstrap.less";
@import "bower_components/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.less";
@import "bower_components/font-awesome/less/font-awesome.less";
@import "../_variables.less";
@import "../xchelper/main.less";
@import "../xuc.less";
@import "../_buttons.less";
@import "../_forms.less";
@import "_fonts.less";


html, body {
  height: 100%;
}

a:focus {
  outline: none;
}

body {
  background-image: @background-gray;
  letter-spacing: 0.5px;
  padding-top: 0;
  color: @color-normal;
}

body > div {
  margin-left: auto;
  margin-right: auto;
}

#footer {
  margin-top:15px;
  font-size: 12px;
  color: @xivo-dark-gray;
}

.modal {
  text-align: center;

  &:before {
    display: inline-block;
    content: " ";
  }
}

.modal-sm {
  width: 410px;
  margin-top: 80px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
}

.modal-content {
  color: #fff;
}

.modal-content .input-group-addon {
  background-color: @xivo-dark;
}

.modal-content .close {
  color: #fff;
  opacity: .5;
}

.modal-title {
  text-align: center;
}

.modal-footer {
  padding: 20px 25px 50px 25px;
}

.modal-right {
  .modal-dialog {
    margin: auto;
    position: fixed;
    width: 450px;
    height: 100%;
    right: 50%;
    margin-right: -225px;

    @media @smartphones {
      width: 100%;
      margin-right: 0;
      right: 0;
    }
  }

  &.fade .modal-dialog {
    width: 0;
    transition: opacity 0.3s linear, width 0.3s ease-out;
  }

  &.fade.in .modal-dialog {
    width: 450px;

    @media @smartphones {
      width: 100%;
    }
  }

  .modal-header {
    background-color: @modal-menu-bg;
    color: @color-light;
    border-bottom: @modal-menu-border;
    transition: all .5s linear;
    font-size: 22px;

    .modal-title {
      padding-top: 30px;
      font-size: 22px;
      font-weight: bold;
    }
  }

  .modal-content {
    height: 100%;
    overflow-y: auto;
    background-color: @xivo-light;
    color: @color-light;
    border-radius: 0;
    border: @modal-menu-border;
    box-shadow: none;

    .close {
      color: inherit;
      opacity: 1;
    }
  }

  .modal-body {
      padding: 0;

    .menu-header {
        padding: 10px;
        text-align: center;
        font-size: 1.2em;
        font-weight: bold;
        background-color: @modal-menu-bg;
    }
    
    .menu-item, .menu-item-nohover {
      padding: 15px 20px 15px 60px;
      border-bottom: @modal-menu-border;

      .fa {
        font-size: 24px;
        color: @modal-menu-color;
        position: relative;
        bottom: 3px;
        right: 5px;

        &.fa-user-plus {
          right: 0;
        }
      }

      .btn-default  {
          font-size: 14px;
          font-weight: normal;
          text-transform: none;
          &:hover {
              color: inherit;
              background: #fff;
          }
      }

    }

    .menu-item:hover {
        background-color: @xivo-primary;
        color: @xivo-light;
        cursor: pointer;

        .fa {
            color: @xivo-light;
        }
    }
  }

  .modal-footer {
    border: none;
  }

  &.greyed {
    .modal-header {
      border: none;
      height: 160px;

      .modal-title {
        padding-top: 7px;
      }
    }
    .modal-content {
      background-color: @modal-menu-bg;

      .modal-body {
        padding: 0 20px;
      }
    }
    .modal-footer {
      padding: 20px 40px 50px 40px;
    }
  }
}

.video-container {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 20 !important;
  text-align: center;
  background: black;
}

.video-remote {
  width: 100%;
  height: 100%;
  z-index: 20 !important;
  display: flex;
}

.video-local {
  width: 20%;
  position: absolute;
  right: 8px;
  bottom: 13px;
  z-index: 2147483647 !important;
  display: block;
  transform: scaleX(-1);
}

.fullscreen-button {
  opacity: 0;
  position: absolute;
  bottom: 15px;
  z-index: 2147483647 !important;
  background-color: @xivo-primary;
  border-radius: 50%;
  border: none;
  left: 50%;
  transform: translate(-50%, 0);
  -webkit-transition: opacity 0.5s ease-in-out;
}

.video-container:hover > .fullscreen-button {
  opacity: 1;
  -webkit-transition: opacity 0.5s ease-in-out;
}

video::-webkit-media-controls-panel {
  display: none;
}

