@()(implicit i18nMessages: Messages)

<div ng-controller="ccAgentDynViewController">
    <div ng-controller="ccViewColPrefController">
        <div><i ng-click="toggleSelectCol()" title="{{'SELECT_COLUMN' | translate}}" class="columntool glyphicon glyphicon-cog glyph-grey"></i></div>
        <div ng-show="selectActive">
            <select class="selectcolbox" id="myselection" size="10" multiple="true" ng-model="selectedCols" ng-options="c.title for c in selectableCols" ng-change="selectColChanged('agentViewColumns')"></select>
        </div>
        <div class="row" ng-controller="ccAgentDynViewPrefController">
            <div class="col-md-2" ng-show="selectActive">
                <div class="checkbox">
                    <input type="checkbox" ng-model="agentView.showGroup " id="showGroup" ng-change="toggleShowGroup()"/>
                    <label for="showGroup">@i18nMessages("agentview.showgroup")</label>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div id="agtView"></div>
    </div>
    @agentsUpdateModalContent()
</div>
