@(hostAndPort: String)(implicit i18nMessages: Messages)
<div ng-repeat="list in callbackLists">
    <div class="panel panel-default">
        <div class="panel-heading"><span class="cc-list-name">{{list.name}} - {{list.queue.displayName}}</span>
            <div class="pull-right list-upload">
                <label class="btn">
                    <input type="file" id="import-{{list.uuid}}">
                </label>
                <button type="button" class="btn btn-success" ng-click="upload(list.uuid)">@i18nMessages("ccmanager.callback.send")</button>
                <a href="{{getServerBaseUrl('@hostAndPort')}}/xuc/api/1.0/callback_lists/{{list.uuid}}/callback_tickets/csv" target="_blank">
                    <button type="button" class="btn btn-success">@i18nMessages("ccmanager.callback.downloadTickets")</button>
                </a>
            </div>
        </div>
        <div class="panel-body">
            <callback-list-view list-uuid="list.uuid"></callback-list-view>
        </div>
    </div>
</div>
