@import _root_.configuration.CcConfig

@(title:String, config: CcConfig)(implicit lang: Lang)


@mainmanager(title) {
    <body data-preferredlang="@{lang.language}" enforce-security="@config.enforceManagerSecurity" state="{{$state.current.name}}">
        
        <script type="text/javascript">
         var externalConfig={};
         externalConfig.hostAndPort = "@config.hostAndPort";
         externalConfig.useSso = @config.useSso;
         @config.casServerUrl.map { url =>
             externalConfig.casServerUrl = "@url";
             externalConfig.casLogoutEnable = @config.casLogoutEnable;
         }
         var appVersion = "@(server.info.BuildInfo.version)"
        </script>
        <div ui-view class="content-view"></div>

        

</body>
}
