@()

<div class="panel-footer" ng-controller="ctiLinkController">
    <span class="title">{{status}}<i class="glyphicon glyphicon-leaf Linkopened"></i>&nbsp;{{clock}}</span>
    <span id="footer">
        <span class="pull-right">@(server.info.BuildInfo.version)</span>
    </span>
</div>
