@()(implicit i18nMessages: Messages)
<div ng-controller="ccQueueDynViewController">
    <div class="alert alert-recording alert-danger" ng-if="hasError()" role="alert">
        <span>{{'RECORDINGCONFIGMANAGERERROR' | translate}}</span>
    </div>
    <div ng-controller="ccViewColPrefController">
    <div><i ng-click="toggleSelectCol()" title="{{'SELECT_COLUMN' | translate}}" class="columntool glyphicon glyphicon-cog glyph-grey"></i></div>
    <div class="row"  ng-show="selectActive">
        <div class="col-md-2">
            <div>
                <div>
                    <select class="selectcolbox" id="myselection" size="10" multiple="true" ng-model="selectedCols" ng-options="c.title for c in selectableCols"
                            ng-change="selectColChanged('queueViewColumns')"></select>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            @thresholdsParam()
        </div>
    </div>
    </div>
    <div class="row">
        <table class="table table-condensed table-striped" ng-table-dynamic="queueDynTable with cols" fixed-header show-filter="false">
            <tr ng-repeat="queue in $data">
                <td header-class="'tableTitle'" ng-repeat="col in $columns" ng-class="thresholdClass(col.field, queue[col.field])"><queuefield item="queue" arg="col"></queuefield></td>
            </tr>
            <tfoot>
                <tr class="footer">
                    <td ng-repeat="$column in $columns" ng-if="$column.show(this)"><span ng-bind="{{totals[$column.field].value}}"></span></td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>


