@()

<script type="text/ng-template" id="queueDetailModal.html">
    <div class="modal-header">
        <button type="button" class="close" ng-click="modalCtrl.close()">×</button>
        <h3 class="modal-title">
            {{'QUEUE_MODAL_TITLE' | translate}}
        </h3>
    </div>
    <div class="modal-body">
        <table class="table table-striped table-condensed">
            <tr>
                <td><b>{{'QUEUE_MODAL_NAME' | translate}}</b></td>
                <td>{{modalCtrl.queue.displayName}}<td>
            </tr>
            <tr>
                <td><b>{{'QUEUE_MODAL_TECH_NAME' | translate}}</b></td>
                <td>{{modalCtrl.queue.name}}<td>
            </tr>
            <tr>
                <td><b>{{'QUEUE_MODAL_NUMBER' | translate}}</b></td>
                <td>{{modalCtrl.queue.number}}<td>
            </tr>
            <tr>
                <td><b>{{'QUEUE_MODAL_TIMEOUT' | translate}}</b></td>
                <td>{{modalCtrl.queue.timeout || '-'}}<td>
            </tr>
        </table>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success" ng-click="modalCtrl.close()">{{'QUEUE_MODAL_CLOSE' | translate}}</button>
    </div>
</script>