@()(implicit i18nMessages: Messages)
<div ng-controller="queueSliderController">
    <table class="table table-condensed">
        <tr>
            <td class="sliderCounter">@i18nMessages("ccmanager.counter.WaitingCalls")</td>
            <td>
                <div class="counterSlider">
                    <div ui-slider="sliders.WaitingCalls.options" data-tip min="{{sliders.WaitingCalls.min}}" max="{{sliders.WaitingCalls.max}}" step="1" ng-model="sliders.WaitingCalls.values">
                        <div class="ui-slider-out-of-bounds slider-left" style="left:0; width: {{leftWidth('WaitingCalls')}}%"></div>
                        <div class="ui-slider-out-of-bounds slider-right" style="right:0; width: {{rightWidth('WaitingCalls')}}%"></div>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td class="sliderCounter">@i18nMessages("ccmanager.counter.LongestWaitTime")</td>
            <td>
                <div class="counterSlider">
                    <div ui-slider="sliders.LongestWaitTime.options" data-tip min="{{sliders.LongestWaitTime.min}}" max="{{sliders.LongestWaitTime.max}}" step="5" ng-model="sliders.LongestWaitTime.values">
                        <div class="ui-slider-out-of-bounds slider-left" style="left:0; width: {{leftWidth('LongestWaitTime')}}%"></div>
                        <div class="ui-slider-out-of-bounds slider-right" style="right:0; width: {{rightWidth('LongestWaitTime')}}%"></div>
                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>