.ddddui-select-bootstrap {
  .btn {
    border: 1px @input-border solid;
    font-weight: inherit;
    font-size: 15px;
    font-family: roboto-bold;
    text-transform: none;
    padding: 10px 12px;
  }

  .btn-default:active, .btn-default:hover, .btn-default:active:hover {
    color: @color-normal !important;
    background: @select-search-background;
  }

  input.ui-select-search.form-control {
    border-top-right-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
  }

  .ui-select-match > .btn {
    border-radius: 4px;
  }

  .ui-select-choices, .ui-select-no-choice {
    border-color: @input-border;
  }

  .ui-select-match-item.btn-primary,
  .ui-select-match-item.btn-primary:hover {
    border-color: @input-border;
  }

  .ui-select-choices-row>span:hover {
    background-color: @select-content-submenu-background !important;
  }

  .ui-select-choices-row.active>span {
    background-color: @xivo-primary !important;
  }

  .ui-select-placeholder{
    font-family: roboto;
    text-transform: uppercase;
    color: @color-lighter;
  }
}
